node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.DS_Store
.*/
content/magazine/
mindpress-fe/content/test/
mindpress-fe/public/uploads/
mindpress-fe/mindpress/uploads/
mindpress-fe/mindpress/content/
mindpress-fe/server/resources/
mdparser/
dist
