body {
  padding: 2rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

form {
  display: flex;
  justify-content: center;
}

a {
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.show:hover {
  transform: scale(1.1);
}

.shows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: 0 auto;
  width: 100%;
}

img {
  width: 45%;
}

/* MindPress style css */
[data-theme=light],
:root:not([data-theme=dark]) {
  --invalid-color: #c62828;
  --valid-color: #388e3c;
  --nav-background-color: rgba(255, 255, 255, 0.7);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #fff;
  --nav-title-color: #edf0f3;
  --article-code-background-color: #f9fafb;
  --md-background-color: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    --invalid-color: rgba(183, 28, 28, 0.5);
    --valid-color: rgba(46, 125, 50, 0.5);
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #0e1419;
    --article-code-background-color: var(--code-background-color);
    --md-background-color: #11191f;
  }
}

[data-theme=dark] {
  --invalid-color: rgba(183, 28, 28, 0.5);
  --valid-color: rgba(46, 125, 50, 0.5);
  --nav-background-color: rgba(16, 24, 30, 0.8);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #0e1419;
  --nav-title-color: #edf0f3;
  --article-code-background-color: var(--code-background-color);
  --md-background-color: #11191f;
}

div>main {
  padding-top: calc(var(--block-spacing-vertical) + 3.5rem);
}

div>nav {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0px 1px 0 var(--nav-border-color);
}

nav>a {
  border-radius: 0;
}

a.first {
  color: var(--h1-color);
  font-weight: bold;
}

nav>svg {
  vertical-align: text-bottom;
}

nav>ul:first-of-type li:first-of-type a {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: calc(var(--spacing) * -1);
  padding: 0;
  background: var(--h1-color);
  color: var(--nav-logo-color);
}

nav>ul:first-of-type li:first-of-type a svg {
  height: 3.5rem;
}

nav>ul:first-of-type li:nth-of-type(2) {
  display: none;
  margin-left: var(--spacing);
  color: var(--h1-color);
}

@media (min-width: 992px) {
  nav>ul:first-of-type li:nth-of-type(2) {
    display: inline;
  }
}

.articles {
  display: grid;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  grid-gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.article-title {
  font-size: 2.5rem;
  font-weight: 800;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--h1-color);
}

@media (max-width: 800px) {
  .articles {
    /*flex-direction: column;*/
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
  }
}

.article {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  background-color: #ffffff;
}

.card-image {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
}

.card-image-item {
  width: auto;
  max-height: 250px;
  border-radius: 0.5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  width: 85%;
  margin-top: 1rem;
  cursor: pointer;
}

.card-content-title {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  text-align: left;
  font-size: 1.25rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.card-content-desc {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: .5rem;
}

.card-content-tag {
  font-weight: 500;
  font-size: .8rem;
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
  border-radius: 9999px;
  margin-right: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
  padding-left: .75rem;
  padding-right: .75rem;
}

.card-footer {
  display: flex;
  margin-bottom: .8rem;
  font-size: small;
  justify-content: space-between;
  width: 85%;
}

.card-footer-date {
  flex-grow: 1;
}

.card-footer-author {
  flex-grow: 3;
  text-align: right;
}

.card-footer-author-item {
  margin-left: .5rem;
}