[data-theme=light],
:root:not([data-theme=dark]) {
  --invalid-color: #c62828;
  --valid-color: #388e3c;
  --nav-background-color: rgba(255, 255, 255, 0.7);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #fff;
  --nav-title-color: #edf0f3;
  --article-code-background-color: #f9fafb;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    --invalid-color: rgba(183, 28, 28, 0.5);
    --valid-color: rgba(46, 125, 50, 0.5);
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #0e1419;
    --article-code-background-color: var(--code-background-color);
  }
}
[data-theme=dark] {
  --invalid-color: rgba(183, 28, 28, 0.5);
  --valid-color: rgba(46, 125, 50, 0.5);
  --nav-background-color: rgba(16, 24, 30, 0.8);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #0e1419;
  --nav-title-color: #edf0f3;
  --article-code-background-color: var(--code-background-color);
}

div > main {
  padding-top: calc(var(--block-spacing-vertical) + 3.5rem);
}

div > nav {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--nav-background-color);
    box-shadow: 0px 1px 0 var(--nav-border-color);
}

nav > a {
    border-radius: 0;
}

a.first {
  color: var(--h1-color);
  font-weight: bold;
}

nav > svg {
    vertical-align: text-bottom;
}

nav > ul:first-of-type li:first-of-type a {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: calc(var(--spacing) * -1);
    padding: 0;
    background: var(--h1-color);
    color: var(--nav-logo-color);
}

nav > ul:first-of-type li:first-of-type a svg {
    height: 3.5rem;
}

nav > ul:first-of-type li:nth-of-type(2) {
    display: none;
    margin-left: var(--spacing);
    color: var(--h1-color);
}

@media (min-width: 992px) {
    nav > ul:first-of-type li:nth-of-type(2) {
      display: inline;
    }
}