body {
  padding: 2rem;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

a {
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  font-size: larger;
  font-weight: 400;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.0625rem solid #cfd5e2;
  border-radius: 0.25rem;
  background-color: --md-background-color;
  font-weight: 400;
  font-size: larger;
  padding: 0.75rem 1rem;
  width: 100%;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.article:hover {
  transform: scale(1.05);
  border: 0.1px solid #b217b4;
}

.shows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: 0 auto;
  width: 100%;
}

/**
img {
  width: 45%;
}
*/

:root {
  font-size: larger;
}

/* MindPress style css */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --invalid-color: #c62828;
  --valid-color: #388e3c;
  --nav-background-color: rgba(255, 255, 255, 0.7);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #fff;
  --code-background-color: #2e3440;
  --md-background-color: #fff;
  --input-border-color: #cfd5e2;
  --md-base-color: #3f3f3f;
  --md-cm-gutter-bg: #eceff4;
  --md-cm-selected-text-bg: #bad5fa;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --invalid-color: rgba(183, 28, 28, 0.5);
    --valid-color: rgba(46, 125, 50, 0.5);
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #0e1419;
    --code-background-color: #2e3440;
    --md-background-color: #121212;
    --md-base-color: rgb(163, 163, 163);
    --md-cm-gutter-bg: #686868;
    /** --md-cm for default-theme.ts*/
    --md-cm-selected-text-bg: #bad5fa;
  }
}

[data-theme="dark"] {
  --invalid-color: rgba(183, 28, 28, 0.5);
  --valid-color: rgba(46, 125, 50, 0.5);
  --nav-background-color: rgba(16, 24, 30, 0.8);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #0e1419;
  --code-background-color: #2e3440;
  --md-background-color: #121212;
  --input-border-color: #cfd5e2;
  --md-base-color: rgb(163, 163, 163);
  --md-cm-gutter-bg: #686868;
  --md-cm-selected-text-bg: #e5e9f0;
}

div>main {
  padding-top: calc(var(--block-spacing-vertical) + 2rem);
}

div>nav {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0px 1px 0 var(--nav-border-color);
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: space-between;
  font-size: larger;
  max-height: 90px;
}

nav,
nav ul {
  display: flex;
}

nav>a {
  border-radius: 0;
}

nav>ul {
  align-items: center;
  padding: 0;
  list-style: none;
}

nav li :where(a, [role="link"]):not(:hover) {
  text-decoration: none;
}

:where(a:not([role="button"])).secondary,
[role="link"].secondary {
  color: #959dae;
}

:where(a:not([role="button"])).contrast,
[role="link"].contrast {
  color: #181c25;
}

nav>ul>li {
  list-style: square;
  display: inline-block;
  padding: 1rem;
}

a.first {
  color: var(--h1-color);
  font-weight: 700;
  margin-left: -45px;
  font-size: 1.5rem;
}

nav>svg {
  vertical-align: text-bottom;
}

nav>ul:first-of-type li:first-of-type a {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: calc(var(--spacing) * -1);
  padding: 0;
  background: var(--h1-color);
  color: var(--nav-logo-color);
}

nav>ul:first-of-type li:first-of-type a svg {
  height: 3.5rem;
}

nav>ul:first-of-type li:nth-of-type(2) {
  display: none;
  margin-left: var(--spacing);
  color: var(--h1-color);
}

@media (min-width: 992px) {
  nav>ul:first-of-type li:nth-of-type(2) {
    display: inline;
  }
}

.articles {
  display: grid;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  grid-gap: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.article-title {
  font-size: 1.8rem;
  font-weight: 800;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--h1-color);
}

.container {
  max-width: 1130px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  /* 90 px*/
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.article-meta-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.article-meta {
  font-size: 1.167rem;
  text-align: center;
  color: #8a919f;
  line-height: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.card-footer-item {
  font-size: 0.8rem;
  text-align: center;
  color: #8a919f;
  line-height: 22px;
  vertical-align: middle;
}

.article-edit {
  color: #1e80ff;
  cursor: pointer;
  margin-left: 2px;
  display: table-caption;
}

@media (max-width: 800px) {
  .articles {
    /*flex-direction: column;*/
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
  }
}

.article {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  background-color: #ffffff;
}

.card-image {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
}

.card-image-item {
  width: auto;
  max-height: 250px;
  border-radius: 0.5rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  width: 85%;
  margin-top: 1rem;
  cursor: pointer;
}

.card-content-title {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  text-align: left;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.card-content-desc {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card-content-tag {
  font-weight: 500;
  font-size: 0.8rem;
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
  border-radius: 9999px;
  margin-right: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.card-footer {
  display: flex;
  margin-bottom: 0.8rem;
  font-size: small;
  justify-content: space-between;
  width: 85%;
}

.card-footer-date {
  flex-grow: 1;
  color: #8a919f;
}

.card-footer-author {
  flex-grow: 3;
  text-align: right;
}

.card-footer-author-item {
  margin-left: 0.5rem;
  color: #8a919f;
  /**#c2c7d0   #8a919f*/
}

.main-container {
  position: relative;
  max-width: 1110px;
  width: 100%;
  display: block;
}

.content-container {
  width: 820px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.column {
  width: 50%;
  padding: 10px;
  box-shadow: inset 0 0 0 1px var(--input-border-color);
}

.column-all {
  width: 100%;
}

.column-all-goodle {
  width: calc(100% - 2rem);
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
}

.containerRow {
  height: calc(100vh - 330px);
}

.doc {
  height: 100%;
}

.toolbaritems {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbaritem {
  display: inline-block;
  padding: 4px 0px 4px 0px;
  transition: all 0.3s;
  border-radius: 0;
  cursor: pointer;
  list-style: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  margin-left: 4px;
}

.toolbaritem:hover {
  border-radius: 3px;
  background-color: var(--md-cm-gutter-bg);
}

.toolbar-col {
  display: flex;
  margin-left: 10px;
  margin-right: 14px;
  margin-top: 5px;
}

.toobar-message-box {
  margin-top: 3px;
  color: #8a919f;
  font-size: smaller;
}

.toolbarRow {
  border-radius: 0rem;
  border: 0.0625rem solid;
  border-color: var(--input-border-color);
  border-bottom: 0rem;
}

input[type="title"] {
  margin-bottom: 0.5rem;
  border-radius: 0rem;
  border-color: var(--input-border-color);
  background-color: var(--md-background-color);
  font-weight: 400;
  font-size: larger;
  padding: 0.75rem 1rem;
  width: calc(100% - 2.1rem);
}

.preview-wrapper {
  overflow-y: scroll;
}

.siderbar-container {
  position: absolute;
  top: 6.5rem;
  right: 0;
  bottom: 0;
  width: 12.5rem;
}

.CoderMirror {
  height: 100%;
}

section {
  height: 100%;
}

.hljs {
  color: #abb2bf;
  background: #282c34;
}

.contentContainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  /* 90 px*/
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  max-width:1330px;
}

.fullpage {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 1px;
  top: 0;
  left: 0;
}

.toolbaritems-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  flex-shrink: 0;
  /* padding: 4px; */
  border-bottom: 1px solid var(--md-border-color);
}

/** Toast CSS start*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #22db84;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/** Toast CSS end*/